/changelog.html
/checkstyle.html
/checkstyle.rss
/cpd.html
/dependencies.html
/dependency-info.html
/dev-activity.html
/file-activity.html
/index.html
/plugin-management.html
/plugins.html
/pmd.html
/project-info.html
/project-reports.html
/scm.html
/summary.html
